<div class="" id="blogContent">
    <div id="trekDetails">
        <img class="location" src="../images/trek/nishani-motte.jpg" alt="{{data.trekDetails.title}}" />
        <div class="trek_name">
            <h1>Antaragange (Ganges from the deep)</h1>
            <h3>Trek 12</h3>
        </div>
        <section class="title">
            <b>{{data.trekDetails.eventTagLine}}</b>
        </section>
    </div>
    <div class="col-xs-9">
        <h1><strong>Antaragange (Ganges from the deep)</strong></h1>
        <p>This was a trip that was never supposed to happen. But it did.</p>
        <p>My legs and thighs were never meant to feel so much of pain. But they were.</p>
        <p>It was just supposed to be another Sunday. But it wasn’t.</p>
        <p>A call from a friend changed it all.</p>
        <p>“Get ready. We are off to Antaragange. We leave at 5:30”. He hung up even before I could argue. I was hearing the name for the first time. I did not even have much time to Google out the place. I had no clue if the place was actually existent
            or I had just misheard “Another Ganga”. &nbsp;Whether it was a waterfall,a mountain or a picnic spot, I could not tell. 7 hours later, I wish I had known.</p>
        <p>The place is near Kolar. Around 80 km from Bangalore and it takes hardly an hour to reach that place. But my friend felt one hour is too long a time. He decided to cover it in half an hour in his car and he almost achieved his goal.
            <br> Once inside the town, you’ve got to trust the people to help you find the way. Google maps are not as good as actual people directing you. In small Indian towns, there are always a few people on the crossroads to help you out. They can probably
            make a business out of it.</p>
        <p>And when we reached the place, I knew, for the first time,that the place was a hill. And it was called ‘Antaragange’ because there is a pond inside a temple which gets a continual flow of water from the mouth of a bull and this water is believed
            to be the Ganges. But we never saw any pond. We never saw the Ganga. We saw only one thing &ndash; Monkeys.</p>
        <p>There were monkeys to our left,right, center and every direction on the compass. The monkeys have a simple strategy &ndash; If the man carries anything in his hand, snatch it. If not, let him pass. They literally chase you if you do not submit
            the object in your hand to them. You are in their territory and whatever you possess in their visual perimeter, it belongs to them. And if you are carrying water bottles, you’ll have the entire troop chasing you.</p>
        <p>The entrance to the temple:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_100805071.jpg"><img height="169" width="300" alt="IMG_20150125_100805071" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_100805071.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1398">
                <br>
            </a>
        </p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_143605884.jpg"><img height="300" width="169" alt="IMG_20150125_143605884" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_143605884.jpg?w=169&amp;h=300" class="alignnone size-medium wp-image-1399"></a>
        </p>
        <p>The second photo shows the path to the temple. The path leads up to around 500 steps. 500 steep steps ! It is tough to climb them especially with the monkeys providing you a guard of honor all along the climb. It strains you out. And by the time
            you’re done with the climb, there are only more monkeys.</p>
        <p>The temple at the top:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/anthargange5.jpg"><img height="225" width="300" alt="Anthargange5" src="https://nitinr92.files.wordpress.com/2015/01/anthargange5.jpg?w=300&amp;h=225" class="alignnone size-medium wp-image-1400"></a>
        </p>
        <p>We did not spend much time at the temple though. I learnt from my friend that there are beautiful caves uphill. And that the trek to the peak would be an enriching experience.</p>
        <p>A small boy, Darshan, kept asking us to hire him as a guide for the trip. He said that he would show us around 3 caves and lead us to the peak. He promised he would show us around all the places. I usually never find guides that interesting. The
            only thing that caught my attention was his mention of a “water cave”. I imagined something of this kind:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/water-cave.jpg"><img alt="water cave" src="https://nitinr92.files.wordpress.com/2015/01/water-cave.jpg?w=1180" class="alignnone size-full wp-image-1402"></a>
        </p>
        <p>After a lot of persuasion from Darshan, we had to take him along. He charged a total amount of 150/- and that was a nominal fare considering he was going to take us to the “Water Cave”.</p>
        <p>The trek begins from right behind the temple. A few very small steps carved out of the rocks appear and disappear now and then to aid us in the climb. But mostly, it is just the rocks. The entire hill is just full of rocks. Huge rocks. Eroded
            and weathered but still strong and massive. “Idhella Granite rocks anna” (All these are Granite rocks bro), Darshan told us.</p>
        <p>He kept leading us. A 8th standard school boy leading a bunch of 22 year old’s in a mountain, away from the monkeys and into unknown territories and caves. Darshan lives in one of the 7 villages atop the hill and studies in a school in Kolar.
            He works as a tour guide during the weekends and shows people around caves.</p>
        <p>We had to take frequent breaks during the climb. It was getting much steeper and the heat only worsened the trek. We were sweating profusely and Darshan’s energy and enthusiasm made it worse. He was like one of those Complan boys, perennially
            filled with energy. But we were not. As we went higher, the view was getting better. Darshan said “We are still at the foot.Wait for the view from the peak”.</p>
        <p>And after close to 20 minutes of trekking, we were at the mouth of the first cave. There is no name for this cave. So let’s call it Cave A.
            <br> Adarsh, a close friend, could not believe that Cave A was actually a cave. “That’s not a cave. It is just a gap between boulders !”, he remarked. But Darshan was already inside. “Bega banni anna”, his lips quirked enthusiastically. We had
            to follow suit. I was not going anywhere inside this cave without Darshan. My view on hiring guides changed in an instant.</p>
        <p>What we experienced inside the cave cannot be put into words. We squeezed through small gaps, jumped from one huge boulders onto another, slid between two rocky faces , kissed the rocks trying to pass through them, pushed one another, lifted each
            other, crawled through tiny gaps. Heck, we were all Bear Grylls.</p>
        <p>Darshan, however, had no issue moving through the cave. “I came here with my brothers when I was six. We play hide and seek here inside these caves”, he said. When I was six, I was still wetting my bed.</p>
        <p>A few pictures from inside Cave A:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_112111845.jpg"><img height="169" width="300" alt="IMG_20150125_112111845" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_112111845.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1403"></a>
        </p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img-20150125-wa0027.jpg"><img height="300" width="225" alt="IMG-20150125-WA0027" src="https://nitinr92.files.wordpress.com/2015/01/img-20150125-wa0027.jpg?w=225&amp;h=300" class="alignnone size-medium wp-image-1406"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_111022539.jpg"><img height="300" width="169" alt="IMG_20150125_111022539" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_111022539.jpg?w=169&amp;h=300" class="alignnone size-medium wp-image-1404"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img-20150125-wa0029-1.jpg"><img height="300" width="225" alt="IMG-20150125-WA0029 (1)" src="https://nitinr92.files.wordpress.com/2015/01/img-20150125-wa0029-1.jpg?w=225&amp;h=300" class="alignnone size-medium wp-image-1407"></a>
        </p>
        <p>A great place to play hide and seek, isn’t it ?</p>
        <p>And after close to half an hour of blissful struggling, we were out. And this how the end of the cave looks like:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_140731423.jpg"><img height="169" width="300" alt="IMG_20150125_140731423" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_140731423.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1409"></a>
        </p>
        <p>The small opening you see is what we crawled out of. It is actually the end of the cave. And thankfully, there were no monkeys waiting to welcome us.</p>
        <p>Darshan egged us to keep moving forward to our next cave &ndash; “Kote cove”. This one has a name. And this was near the peak of the hill. And it was close to a kilometer from our current position. The climb was steep. But after a while, the geography
            suddenly changed to a flat piece of land that had villages and farms. People were actually growing crops and living here, 1000 m above sea level. I decided not to crib about anything in life from then on.</p>
        <p>Darshan pointed to a far off village where he lives. He said buses come to transport people to the town, which looked like a Lego set from high up here. The view kept getting better as we trekked to the peak. We climbed steep faces of rocks praying
            our legs wouldn’t let us down. After another half an hour of excruciating climb, we reached the peak of the hill. And Darshan was right. The view from here was magnificent. Down below, everything seemed so small and unimportant. Suddenly all
            our problems and worries seemed even more smaller. There are better things to enjoy than worry when you are at the peak of a hill.</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_130828455.jpg"><img height="169" width="300" alt="IMG_20150125_130828455" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_130828455.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1410"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_105052773.jpg"><img height="169" width="300" alt="IMG_20150125_105052773" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_105052773.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1411"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122307256_hdr.jpg"><img height="169" width="300" alt="IMG_20150125_122307256_HDR" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122307256_hdr.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1412"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122311453.jpg"><img height="169" width="300" alt="IMG_20150125_122311453" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122311453.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1413"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122538614.jpg"><img height="169" width="300" alt="IMG_20150125_122538614" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_122538614.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1414"></a>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_130822533.jpg"><img height="169" width="300" alt="IMG_20150125_130822533" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_130822533.jpg?w=300&amp;h=169" class="alignnone size-medium wp-image-1415"></a>
        </p>
        <p>Most of these pictures were taken by Darshan, who seems to love photography. He willingly takes the device and goes on a clicking spree. And when we ask for a picture with him, he obliges:</p>
        <p>
            <a href="https://nitinr92.files.wordpress.com/2015/01/img_20150125_121756606.jpg"><img height="300" width="169" alt="IMG_20150125_121756606" src="https://nitinr92.files.wordpress.com/2015/01/img_20150125_121756606.jpg?w=169&amp;h=300" class="alignnone size-medium wp-image-1416"></a>
        </p>
        <p>Darshan guided us to “Kote cave”. He slid through the entrance of the cave first and I followed soon.But as soon as he landed on the ground, something scampered in the near distance. All we heard was the sound. It might have been a snake, a rat
            or a bat. For Darshan though, it was a leopard and he would not go further into the cave.He climbed back up quickly and said it’s better not to venture into the cave as he just did not feel right. We were too tired to argue.</p>
        <p>I still wanted to go to the “Water cave” though. But we were done physically. We were too tired to carry on any further and we needed a bit of energy to return back to the temple as well. So we dropped the other plans and decided to come back
            another day to cover the other caves sans any leopards.</p>
        <p>We somehow managed to trek down. Darshan left us midway and ran to his village with more than the 150/- he had initially asked for. He deserved it though. The monkeys greeted us again near the temple and by the time we reached our car, we were
            thirstier and hungrier than the monkeys. We were ready to snatch any eatable from the hands of any passerby just like the monkeys do.</p>
        <p>The trip was a real eye-opener. When you reach places you otherwise never usually do and break from your routine and travel far away from all the noise of the city, you transcend to another level. Your body is ready to push the limits. Your mind
            is more strong. It is ready to explore and expand. We become one with nature and we even appreciate simple things like the breeze against our face or the view from the top of a hill. The human mind and the body is built to explore and travel,
            to face challenges and come out successful. Trips like these are required to rejuvenate that spirit.</p>
        <p>Go on then. Pack your bags. Make sure you go empty handed near the monkeys.😉</p>
    </div>
    <div class="col-xs-3" id="author_details">
        <div class="form-group">
          <label>Share</label>
          <div class="share_icons">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="form-group">
          <label>Written By</label>
          <div class="share_icons">
            <a href="#">Nitin R</a>
          </div>
          <div class="share_icons">
            <a href="#">@nitin</a>
          </div>
        </div>
    </div>
</div>
